html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body{
    font-size: 14px;
    font-size: 0.9rem;
    font-family: 'PT Sans', sans-serif;
}

#wrapper{
    min-width: 1024px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    overflow-x: hidden;
}

article{
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

article{
    position: relative;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.logotyp{
    position: absolute;
    top:2%;
    left: 2%;
    width: 87px;
    height: 146px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

#index .logotyp{
    background-image: url(../images/dark-logo.png);
}

#contacts .logotyp{
    background-image: url(../images/light-logo.png);
}

nav{
    position: fixed;
    top:6%;
    left: 9%;
    z-index: 100;
    background: #2f3132;
}

nav:before{
    position: absolute;
    left: -10px;
    z-index: 3;
    display: block;
    content: " ";
    width: 100px;
    height: 42px;
    background: #2f3132;
    border-radius: 5px;
    -webkit-transform: skew(-10deg, 0);
    -moz-transform: skew(-10deg, 0);
    -ms-transform: skewX(-10deg) skewY(0);
    -o-transform: skew(-10deg, 0);
    transform: skew(-10deg, 0);
}

nav:after{
    position: absolute;
    right: -10px;
    z-index: 3;
    display: block;
    content: " ";
    width: 100px;
    height: 42px;
    background: #2f3132;
    border-radius: 5px;
    -webkit-transform: skew(-10deg, 0);
    -moz-transform: skew(-10deg, 0);
    -ms-transform: skewX(-10deg) skewY(0);
    -o-transform: skew(-10deg, 0);
    transform: skew(-10deg, 0);
}

.nav{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav li{
    float: left;
}

.nav li a{
    position: relative;
    display: block;
    padding: 12px 14px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    z-index: 5;
}


#index{
    background-image: url(../images/index.jpg);
    background-color: #630400;
}

#index .light-1{
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    z-index: 3;
    background-image: url("../images/parallax/index-1.png");
    background-repeat: no-repeat;
    background-position: 20% 720px;
}

#index .light-2{
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    z-index: 3;
    background-image: url("../images/parallax/index-2.png");
    background-repeat: no-repeat;
    background-position: 10% 690px;
}

#index .light-3{
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    z-index: 3;
    background-image: url("../images/parallax/index-3.png");
    background-repeat: no-repeat;
    background-position: 80% 820px;
}

#wedding{
    background-image: url(../images/wedding.jpg);
    background-color: #ffffff;
}

#style{
    background-image: url(../images/style.jpg);
    background-color: #be65a9;
}

#creative{
    background-image: url(../images/creative.jpg);
    background-color: #d7cb3a;
}

#cost{
    background-image: url(../images/cost.jpg);
    background-color: #6c4693;
}

#contacts{
    background-image: url(../images/contact.jpg);
    background-color: #000009;
}