@font-face {
    font-family: 'RBNaftalin';
    src: url('../font/naftalin.eot');
    src: url('../font/naftalin.eot.eot?#iefix') format('embedded-opentype'), url('../font/naftalin.woff') format('woff'), url('../font/naftalin.ttf') format('truetype');
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body{
    font-size: 14px;
    font-size: 1.4rem;
    font-family: 'PT Sans', sans-serif!important;
}

section{
    position: relative;
    display: block;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.logotyp{
    position: fixed;
    top:1%;
    left: 1%;
    width: 87px;
    height: 146px;
    z-index: 10;
}

footer{
    position: fixed;
    bottom:2%;
    left: 0;
    padding-top: 7px;
    width: 152px;
    height: 32px;
    background: url("../images/footer-bg.png") no-repeat 0 0;
    color: #8a897a;
    text-align: center;
    z-index: 10;
}

nav{
    position: fixed;
    top:3%;
    left: 150px;
    z-index: 10;
    background: #2f3132;
}

nav:before{
    position: absolute;
    top: 0;
    left: -10px;
    z-index: 3;
    display: block;
    content: " ";
    width: 100px;
    height: 44px;
    background: #2f3132;
    border-radius: 5px;
    -webkit-transform: skew(-10deg, 0);
    -moz-transform: skew(-10deg, 0);
    -ms-transform: skewX(-10deg) skewY(0);
    -o-transform: skew(-10deg, 0);
    transform: skew(-10deg, 0);
}

nav:after{
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 3;
    display: block;
    content: " ";
    width: 100px;
    height: 44px;
    background: #2f3132;
    border-radius: 5px;
    -webkit-transform: skew(-10deg, 0);
    -moz-transform: skew(-10deg, 0);
    -ms-transform: skewX(-10deg) skewY(0);
    -o-transform: skew(-10deg, 0);
    transform: skew(-10deg, 0);
}

.navigation{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation li{
    float: left;
}

.navigation li a{
    position: relative;
    display: block;
    margin: 2px 0;
    padding:10px 12px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    z-index: 5;
}

.navigation .active a{
    background: #8c1209;
}

.navigation .active a:before{
    position: absolute;
    top: 0;
    left: -7px;
    z-index: 3;
    display: block;
    content: " ";
    width: 15px;
    height: 40px;
    background: #8c1209;
    border-radius: 5px;
    -webkit-transform: skew(-10deg, 0);
    -moz-transform: skew(-10deg, 0);
    -ms-transform: skewX(-10deg) skewY(0);
    -o-transform: skew(-10deg, 0);
    transform: skew(-10deg, 0);
}

.navigation .active a:after{
    position: absolute;
    top: 0;
    right: -7px;
    z-index: 3;
    display: block;
    content: " ";
    width: 15px;
    height: 40px;
    background: #8c1209;
    border-radius: 5px;
    -webkit-transform: skew(-10deg, 0);
    -moz-transform: skew(-10deg, 0);
    -ms-transform: skewX(-10deg) skewY(0);
    -o-transform: skew(-10deg, 0);
    transform: skew(-10deg, 0);
}

.parallax {
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    z-index: 2;
    background-repeat: no-repeat;
}

.element {
    position: absolute;
    z-index: 3;
}

#index{
    background-image: url(../images/index.jpg);
    background-color: #630400;
}

.intro{
    left: 8%;
    width: 710px;
    height: 333px;
    padding: 50px 0 0 0;
    background: url("../images/parallax/intro.png") 0 0 no-repeat;
    font-family: 'RBNaftalin';
    line-height: 80px;
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.9);
}

.f30{
    font-size: 30px;
}

.f90{
    font-size: 90px;
}

.f20{
    font-size: 20px;
}

.f15{
    font-size: 15px;
}


#wedding{
    background-image: url(../images/wedding.jpg);
    background-color: #ffffff;
}

#style{
    /*background-image: url(../images/style.jpg);*/
    background-color: #be65a9;
}

#style .slide{
    position: absolute;
    z-index: 3;
    width: 25%;
    min-height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 0;
    -webkit-box-shadow: 0 0 20px rgba(116, 7, 89, 0.4);
    box-shadow: 0 0 20px rgba(116, 7, 89, 0.4);
}

#style .slide .color-image{
    position: absolute;
    z-index: 3;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 0;
}

#style .label{
    position: absolute;
    top: 50%;
    right: 0;
    width: 242px;
    padding: 15px;
    background: url("../images/style-label-bg.png") #b41212 0 0;
    color: #ffffff;
    font-family: 'RBNaftalin';
    text-transform: uppercase;
    z-index: 7;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

#style .evening-makeup{
    top:0;
    left: 0;
    background-image: url("../images/style-1off.jpg");
    z-index: 5;
}

#style .evening-makeup .color-image{
    background-image: url("../images/style-1.jpg");
}

#style .day-makeup{
    top:0;
    left: 25%;
    background-image: url("../images/style-2off.jpg");
    z-index: 4;
}

#style .day-makeup .color-image{
    background-image: url("../images/style-2.jpg");
}

#style .holiday-makeup{
    top:0;
    left: 50%;
    background-image: url("../images/style-3off.jpg");
}

#style .holiday-makeup .color-image{
    background-image: url("../images/style-3.jpg");
}

#style .stylized-makeup{
    top:0;
    left: 75%;
    background-image: url("../images/style-4off.jpg");
    z-index: 2;
}

#style .stylized-makeup .color-image{
    background-image: url("../images/style-4.jpg");
}

#creative{
    background-image: url(../images/creative.jpg);
    background-color: #d7cb3a;
}

#cost{
    background-image: url(../images/cost.jpg);
    background-color: #6c4693;
}

#cost .container{
    position: relative;
    margin-top: 6%;
    background: url("../images/contact-bg.png") 0 0 repeat;
    padding:0 25px 15px 25px;
    border-radius: 10px;
    color: #ffffff;
    z-index: 5;
}

#cost .page-header{
    padding: 0;
    margin: 0;
    border-bottom: none;
}

#cost .page-header h1{
    font-family: 'RBNaftalin';
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-size: 300%;
    text-align: center;
    line-height: 100px;
}

#cost .page-header h1 .left-shape{
    position: relative;
    display: inline-block;
    background: url("../images/cost-left-shape.png") 0 0 no-repeat;
    width: 36px;
    height: 43px;
    top: 7px;
}

#cost .page-header h1 .right-shape{
    position: relative;
    display: inline-block;
    background: url("../images/cost-right-shape.png") 0 0 no-repeat;
    width: 36px;
    height: 43px;
    top: 7px;
}

#cost .table{
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 120%;
}

#cost .table td{
    padding: 6px;
}

#contacts{
    background-image: url(../images/contact.jpg);
    background-color: #000009;
}

/*      PARALLAX        */

.light-1{
    left: 530px;
    width: 249px;
    height: 249px;
}

.light-2{
    left: 192px;
    width: 197px;
    height: 199px;
}

.light-3{
    left: 450px;
    width: 62px;
    height: 62px;
}

.light-4{
    left: 600px;
    width: 102px;
    height: 103px;
}

.wedding-1{
    right: 100px;
    width: 220px;
    height: 147px;
}

.wedding-2{
    right: 720px;
    width: 111px;
    height: 93px;
}

.wedding-3{
    right: 720px;
    width: 303px;
    height: 212px;
}

.creative-1{
    right: 250px;
    width: 129px;
    height: 268px;
}

.creative-2{
    left: 65px;
    width: 146px;
    height: 120px;
}

.creative-3{
    left: 940px;
    width: 332px;
    height: 187px;
}

.creative-4{
    left: 100px;
    width: 238px;
    height: 502px;
}

.cost-1{
    top:750px;
    left: 190px;
    width: 280px;
    height: 285px;
}

.cost-2{
    right: 10px;
    width: 355px;
    height: 377px;
}

.cost-3{
    left: 100px;
    width: 143px;
    height: 168px;
}

.contact-info{
    font-family: 'RBNaftalin';
    color: #ffffff;
    left: 170px;
    padding: 20px 30px;
    line-height: 50px;
    background: url("../images/contact-bg.png") 0 0 repeat;
    border-radius: 10px;
}

.contact-info a{
    color: #ffffff;
    text-decoration: underline;
}

.contact-info a:hover{
    color: #ffffff;
    text-decoration: none;
}

.contact-info h1{
    font-size: 50px;
    background: url("../images/two-line.png") 0 100% repeat-x;
    padding-bottom: 35px;
}

.contact-info p{
    font-size: 25px;
}

.contact-info i {
    float: left;
    margin-top: 5px;
    margin-right: 15px;
    font-size: 30px;
}
