.media-min-height-750 #first{
    background: url('../images/index_1024.jpg') 50% 0 no-repeat fixed;
}

.media-min-height-750 #first .intro{
    top: 150px !important;
    left: 30px !important;
}

.media-min-height-750 #second{
    background: url('../images/wedding_1024.jpg') 50% 0 no-repeat fixed;
}

.media-min-height-750 #fourth{
    background: url('../images/creative_1024.jpg') 50% 0 no-repeat fixed;
}

.media-min-height-750 #sixth{
    background: url('../images/contact_1024.jpg') 50% 0 no-repeat fixed;
}

.media-min-height-750 #second .slide{
    top: 110px !important;
}

.media-min-height-750 #second .slide .text h1{
    margin: 20px 0 !important;
}

.media-min-height-750 #third .style-frame .label{
    top: 45% !important;
}

.media-min-height-750 #third .active .text{
    top: 45% !important;
    bottom: auto !important;
}

.media-min-height-750 #fourth .slide{
    top: 85px !important;
    left: 130px !important;
}

.media-min-height-750 #fourth .text{
    margin-top: -30px;
    font-size: 12px;
}

.media-min-height-750 #fourth .text .right-shape,
.media-min-height-750 #fourth .text .left-shape {
    position: relative;
    top:13px;
}

.media-min-height-750 #fourth .text h1{
    font-size: 30px !important;
    margin: 20px 0 !important;
}

.media-min-height-750 #sixth .contact-info{
    top: 130px !important;
    left: 128px !important;
}

.media-min-height-750 #third .style-frame .slider{
    top:150px;
}

.media-min-height-1024 #third .style-frame .slider{
    top:280px;
}